body {
    background-color: #cbe5fd; 
}

h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #0085ff;
    color: #0085ff;
    font-size: 30px;
}
h2 {
    color: #0085ff;
}
ul#submenu {
    padding: 0;
    margin-bottom: 11px;
}
table {
    border-collapse: collapse;
}
td, th{  
   text-align: center;
}
td#activitat{
    text-align: left;
    padding-left: 10px;
}
th#mesos{
    background-color: #a6d4ff;
}
td#dia{
    background-color: #cbe5fd;
}
ul#submenu li {
    display: inline;
    margin-right: 3px;
}

ul#submenu li a {
    background-color: #a6d4ff;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 0 0 4px 4px;
}

ul#submenu li a:hover {
    color: white;
    background-color: #0085ff;
}
