body {
    background-color: #e5e2d3; 
}
h1 {
    border-bottom: 3px solid #7F764D;
    color: #7F764D;
}
h2 {
    color: #7F764D;
}
ul#submenu {
    padding: 0;
    margin-bottom: 11px;
}
table {
    border-collapse: collapse;
}
td, th{  
   text-align: center;
}
td#activitat{
    text-align: left;
    padding-left: 10px;
}
th#mesos{
    background-color: #cec59c;
}
td#dia{
    background-color: #d0c9aa;
}
ul#menu li a:not(.active) {
    background-color: #cec59c;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}
ul#menu li a:hover:not(.active) {
    color: white;
    background-color: #999999;
}
ul#submenu li {
    display: inline;
    margin-right: 3px;
}

ul#submenu li a {
    background-color: #cec59c;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    border-radius: 0 0 4px 4px;
}

ul#submenu li a:hover {
    color: white;
    background-color: #7F764D;
}